
.modal-body-subtitle{
    color:#6b6b6b;
}

.modal-body-description{
    color:#4b4b4b;
    margin:  0px 0 20px 0;

}

.modal-body-details{
    color:#4b4b4b;
    width: 90%;
}

label{
    margin-top:5px;
    font-weight: 500;
    color: #302b27;
}

.form-group{
    margin-top: 10px;
}

.modal-footer{
    justify-content: space-between;
}